*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    box-shadow: 0px 0px 8px #888888;
    font-size: 15px;
    font-weight:100;
    position: fixed;
    margin-bottom: 10%;
    z-index: 10000;
}

.main-nav{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 68px;
    
    
}

#logo img{
    width: 80%;
}


#menu1, #menu2{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#menu1{
    margin-right: 520px;
}

#menu2{
    margin-left: 520px;
}

.main-nav li{
    margin: 0 10px;
}

button{
    text-align: center;
    border: 0;
    font-size: 14px;
}



.main-nav button{
    background-color: blue;
    width: 55px;
    height: 30px;
    color: white;
}

main{
    position: relative;
}

#jumbotron{
    background-color:#a0bcff;
    height: 738px;
    padding: 0 20%;
    padding-top: 100px;

}

#content{
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
}

#jumbotron h1{
    font-size: 60px;
}

#text p{
    width: 350px;
    padding-bottom: 23px;
    margin-top: 23px;
    line-height: 23px;
}

#image img{
    margin-top: 23px;
    width: 1000px;
}

#jumbotron button, .plan button, #blockext button{
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
}
.plan button, #blockext button{
    margin-bottom: 30px;
    width: 100%;

}

#blockext2 div:last-child{
    margin-top: 25px;
    width: 25%;
}

#jumbotron i{
    font-size: 50px;
    padding-top: 90px;
}

section {
    margin: 0 450px;
    padding-top: 250px;
}

.block{
    display: flex;
    justify-content: space-between;
}

.plan ul{
    list-style: none;
    padding-top: 40px;
    padding-bottom: 25px;
}

.plan li{
    display: flex;
    padding-bottom: 25px;
    line-height: 20px;
}

.titleb {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.margin p:first-of-type {
    margin-bottom: 15px;
}

#blockext2 p:first-of-type{
    margin-bottom: 50px;
}


.plan {
    border: 1px solid #888888;
    width: 30%;    
    font-weight:lighter;
}

.margin, #blockext2{
    padding: 0 25px;
}

#blockext2{
    display: flex;
    justify-content: space-between;
}

#blockext2 div:first-child{
    width: 60%;
}

.plan i{
    font-size: 15px;
    padding-top: 1px;
    padding-right: 6px;
}

#blockext{
    margin-top: 50px;
    border: 1px solid #888888;
    height: 260px;

}
.plan hr{
    margin: 40px 0;
}

.plan h4{
    padding-top: 30px;
}
.plan hr{
    width: 50px;
}


.plan p:first-child{
    text-align: center;
}

.plan h2, #blockext h2{
    padding: 20px 0;
}

section h1, #content1 h1{
    
    font-size: 40px;
}

section h1{
    padding-bottom: 100px;
}

.block img{
    width: 100%;
}

#c2{
    padding-top: 60px;
    flex-basis: 30%;
    line-height: 26px;
    margin-left: 40px;
    font-size: 17px;
}

#c2 h2{
    padding-bottom: 25px;
    line-height: 35px;
    font-size: 24px;
}

#c2 button {
    background-color: white;
    border: solid 1px black;
    padding: 10px 15px;
    font-size: 18px;
    margin-top: 25px;
}


#c1{
    flex-basis: 70%;
}

.row{
    display: flex;
    justify-content: space-between;
}

.feature img{
    width: 100%;
}

.feature{
    flex-basis: 30%;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 20px;
}

.feature h3{
    line-height: 35px;
    padding-bottom: 20px;
    font-size: 25px;
}

#bigbox{
    display: flex;
    margin-top: 10%;      
}

.square{
    width: calc(100% /3);
    flex-direction: column;  
}

.square img{
    width: 50%;
    filter: invert(1);
}

.mbox img{
    width: 40%;
}

.mbox hr{
    width: 15%;
    margin: 5% 0;
}


.mbox p{
    margin-bottom: 5%;
}

.mbox{
    width: 100%;
    background-color: whitesmoke;
    padding: 3%;
    font-weight: lighter;
}

.green{
    background-color: green;
    padding-top: 40%;
}

.brown{
    background-color: rgb(116, 28, 28);
    padding-top: 30%;
}


.blue{
    background-color: rgb(69, 69, 255);
    padding-top: 40%;

}

.redl{
    background-color: red;
    padding-top: 35%;
}

.redd{
    background-color: rgb(178, 0, 0);
    padding-top: 40%;
}

.lbox{
    width: 280px;
    height: 280px;
    text-align: center;    
}

.blued{
    background-color: rgb(0, 0, 148);
    padding-top: 35%;
}


.bluel{
    background-color: #a0bcff;
    padding-top: 45%;
}

.yellow{
    background-color: rgb(255, 221, 0);
    padding-top: 30%;
}

#trial{
    display: flex;
    justify-content: space-between;
    height: 360px;
    background-color: #a0bcff;
    padding: 0 450px;
    align-items: center;
}

#trial button{
    padding: 13px 30px;
    font-size: 15px;
    background-color: white;
    margin-bottom: 40px;
}


#content1{
    width: 50%;
}



#ask ul{
    list-style-type: none;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

#ask li{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    
}

#ask ul li:nth-child(2){
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

footer{
    height: 570px;
    background-color: black;
    padding: 0 20%;
    margin-top: 150px;
    color: white;
}

#foo{
    display:flex;
    justify-content: space-between;
    line-height: 35px;
    padding-bottom: 100px;
}

footer li{
    list-style: none;
}

footer h2{
    padding-bottom: 20px;
    padding-top: 70px;
}

footer hr{
    width: 120px;
    margin-bottom: 45px;
    
}

footer span{
    color: #bdbdbd;
}

